# .NET Build Folders
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]ebug-*-
[Dd]ebug/
[Dd]ist/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
